<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptas nihil ratione pariatur sed architecto quidem non obcaecati! Esse debitis est nesciunt. Architecto aut, maxime eum nobis officia suscipit laudantium.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptas nihil ratione pariatur sed architecto quidem non obcaecati! Esse debitis est nesciunt. Architecto aut, maxime eum nobis officia suscipit laudantium.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima voluptas nihil ratione pariatur sed architecto quidem non obcaecati! Esse debitis est nesciunt. Architecto aut, maxime eum nobis officia suscipit laudantium.</p>
        </ul>
    </div>
</div>
