<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Content Manager</h3> - <h3>2019-2022</h3>
            </li>
            <p>Gestora de contenidos digitales en http://mundoentrerriano.com</p>
        </ul>
        <ul>
            <li>
                <h3>Content Manager</h3> - <h3>2020-2022</h3>
            </li>
            <p>Gestora de contenidos digitales en http://tabossi.com</p>
        </ul>
        
        <ul>
            <li>
                <h3>Content Manager</h3> - <h3>2021</h3>
            </li>
            <p>Gestora de contenidos digitales en http://paranapolitica.com/</p>
        </ul>
        <ul>
            <li>
                <h3>Community Manager</h3> - <h3>2021</h3>
            </li>
            <p>Encargada de construir y administrar la comunidad online en https://www.instagram.com/esteryfrime_catering/?hl=es-la</p>
        </ul>
    </div>
</div>
