<div class="row">
    
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h3>Bachillerato con orientación en Ciencias Naturales</h3> 
            </li>
            <p>Escuela Normal Superior Victorino Viale - Viale, Entre Ríos</p>
        </ul>
        <ul>
            <li>
                <h3>Tecnicatura en reparación de PC</h3> 
            </li>
            <p>Universidad Popular Elio C. Leyes - Paraná, Entre Ríos</p>
        </ul>
        <ul>
            <li>
                <h3>Diseño gráfico de páginas web</h3> 
            </li>
            <p>Centro comunitario N°28 - Paraná, Entre Ríos</p>
        </ul>
    </div>
</div>
